.{ margin: 0px;
  padding: 0px;

}

header{
  background-color: #fff!important;
  padding: 45px 0px;
}

.hero{
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(19, 18, 18, 0.6)),url(../img/hero.png) no-repeat center top;
  background-size: cover;
  text-align: center;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 120px;

 }
.btn-one{
     display: block;
    margin: 34px auto;
    color: #fff;
    padding: 12px 47px;
    border-radius: 15px;
    margin-bottom: 70px;
    font-size: 20px;
    background-color: #99c50a;
    border: none;
}

.work{
  color: #8c8c8c;
  text-align: center;
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 120px;
}
.work h2{
  
font-size: 31px;
  
padding-top: 22px;
}

.work h4{
  
font-size: 31px;
  
padding-bottom: 25px;
}

.work p{
  
}



.project-item{

background: linear-gradient(to right, #e2f8ff,#f5f9eb);

color: #8c8c8c;
}

.project-one{

  background-color: #e2f8ff;


}

.project-two{
background-color: #f5f9eb;

}

.btn-two{

  display: block;
    margin: 34px auto;
    color: #fff;
    padding: 12px 47px;
    border-radius: 15px;
    margin-bottom: 70px;
    font-size: 14px;
    background-color: #26a6d1;
    border: none;


}

.btn-three{

    display: block;
    margin: 34px auto;
    color: #fff;
    padding: 12px 47px;
    border-radius: 15px;
    margin-bottom: 70px;
    font-size: 14px;
    background-color: #add136;
    border: none;
}

.button-item{

color: #8c8c8c;
}

.btn-four{
    display: block;
    margin: 34px auto;
    color: #8c8c8c;
    padding: 12px 47px;
    border-radius: 15px;
    margin-bottom: 70px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #8c8c8c;

}

.img-item{
  
color: #8c8c8c;
}

.img-item-one{
  border: 1px solid #776868;
  border-radius: 4px;
  padding-right: 1px;
}

.img-btn{
  position: relative;
  padding-bottom: 10px;

}

.img-btn img{
  /* padding-right: 0px; */
  /* padding-left: 0px; */
}

.img-text{
    position: absolute;
    top: 137px;
    right: 36px;
    color: white;
    background-color: #00a1ff;
    padding: 5px;
    border: none;
    border-radius: 8px;
}

.discount{

  padding-top: 25px;


}

span{

    display: block;
    width: 80%;
    border: 1px solid;
    margin: 0 auto;


}

.fa.fa-caret-right{

font-size: 45px;

color: green;
}

.text-white {
    color: #1b1b1b!important;
}

.nav-link.js-scroll-trigger.active{

  background-color: #2bb4dd9e;
  padding: 8px 25px;
  border-radius: 15px;
  color: white;
 }